@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	body
		padding: 10px
	h3
		margin-top: 30px
		font-size: 10pt
	h1
		font-size: 20pt
		line-height: 35px
	.talon
		padding-bottom: 20px
		.talon-body
			padding: 10px
			h3
				font-size: 14pt
				margin: 0 0 20px 0
			table
				width: 100%
				font-size: 12pt
			p
				margin: 10px
			select
				font-size: 12pt
	.btn
		height: 50px
		font-size: 12pt
	.main
		padding-bottom: 20px
	.iin
		label
			display: none
		input
			font-size: 28pt
			height: 50px
			width: 280px
		.btn
			margin-top: 20px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

