@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

p
	margin: 0

.back
  text-align: left
  margin-top: 20px

.text-center
	text-align: center
.text-right
	text-align: right
.text-left
	text-align: left
h1
	font-family: fira-sans
	font-size: 49pt
	color: #fff
	margin-top: 0px
	line-height: 50px

h3
	margin-top: 100px
.hidden
	display: none
body
	height: 100%
#body
	font-size: 16px
	min-width: 320px
	min-height: calc(100vh - 100px)
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: #fff
	background-color: #5DA1E6
	background-image: url("../img/bg1.png")
	z-index: 20
	background-size: cover
	
.main
	box-sizing: border-box
	z-index: 15

.lang
	margin-top: 20px
	text-align: right
	a
		color: #FFF
		text-decoration: none
	.active
		background-color: #FFF
		color: $dblue
	.lang-switch
		border: 1px solid #FFF
		padding: 10px 20px
		border-radius: 8px
		cursor: pointer
		&:hover
			background-color: #FFF
			color: $dblue

.iin
	box-sizing: border-box
	font-family: times
	display: inline-block
	.form-group
		display: inline-block
		margin-bottom: 0
		vertical-align: middle
	label 
		font-size: 32pt 
		margin-right: 20px
	input
		font-size: 32pt
		height: 70px
		padding-left: 25px
		background-color: #FFF
		width: 340px
		color: $dblue
		border: 0
	input[type="text"]::-webkit-input-placeholder 
		color: lighten($dblue,20)
	input[type="text"]::-moz-placeholder
    	color: lighten($dblue,20)
		

.btn
	display: inline-block
	color: #FFF
	height: 70px
	background-color: #074C8F
	border: 0
	padding: 10px 20px
	vertical-align: middle
	font-size: 19pt
	margin-left: -4px
	&:hover
		background-color: darken(#074C8F,5)
.descript
	margin-top: 20px
	color: #EBEFF3

.talon
	background-color: #FFF
	color: $dblue
	padding-bottom: 30px
	.talon-body
		padding: 20px
		h3
			color: #333
			font-size: 25pt
			margin: 0 0 20px 0
		table
			width: 100%
		p
			margin: 10px
		select
			margin: 10px
			font-size: 21pt
			border: 1px solid #54657E
			padding: 10px 10px 10px 10px
			border-radius: 20px
			
	.sc_talon-body
		padding: 20px
		h3
			color: #333
			font-size: 25pt
			margin: 0 0 20px 0
		table
			width: 100%
		p
			margin: 10px
		select
			margin: 10px
			font-size: 21pt
			border: 1px solid #54657E
			padding: 10px 10px 10px 10px
			border-radius: 20px
			
.talon-footer
	height: 20px
	background-image: url("../img/bg-line.png")
	background-repeat: repeat-x

.footer
	background-color:#074C8F
	color: #5DA3E8
	height: 100px
	padding: 10px
	padding-top: 40px
	margin-bottom: -150px
	bottom: 0
#receipt
	font-weight: bold
	font-size: 26pt
	
#LabelTalon
	display: inline

.img-responsive
	display: block
	max-width: 100%
	height: auto
	
.g-recaptcha
	margin-bottom: 15px

.alert
  padding: 20px
  background-color: #f44336
  color: white
  margin-bottom: 15px
  
.success
	padding: 20px
	background-color: #008000
	color: white
	margin-bottom: 15px

.closebtn
  margin-left: 15px
  color: white
  font-weight: bold
  float: right
  font-size: 22px
  line-height: 20px
  cursor: pointer
  transition: 0.3s
  &:hover
    color: black

#Attach_clinic
	display: none



@import "media" // Всегда в конце
